/*
font-family: 'Titillium Web', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
*{
    /*color: #a3a3a3;*/
}
html {
    font-family: 'PT Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
    margin: auto 15px;
    /*max-width: 1200px;*/
    margin: auto;
}
pre{
    margin-left: 300px;
}
.row{
    /*margin-right: 0;*/
    padding: 15px 0 ;
    margin-right: 15px;
}
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }
div[class^="col"]{
    box-sizing: border-box;
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}
/*TITULOS*/
h1, h2, h3, h1, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}
h2{
    font-size: 36px;
    background-color: #1f282d;
    color: white;
    padding: 15px;
    margin-left: -15px;
    text-align: right;
    font-variant: small-caps;
}
#cuenta{
    float: right;
    margin-left: 15px;
    width: 50px;
    color: #1f282d;
    background-color: white;

    line-height: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;

    border-width: 2px;
    border-color: #0e9bac;
    border-style: solid;
    border-radius: 36px;
}
.text-center{
    text-align: center;
}
.paginacion{
    border-top: 1px solid #e5e5e5;
}
.tarjeta{
    padding: 15px;
    padding-bottom: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}
.tarjeta img{
    width: 100%;
}
.tarjeta .editar{
    float: right;
}
.tarjeta a{
    color: #0e9bac;
}
.tarjeta .titulo{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #0e9bac;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.tarjeta .nombre-foto{
    /*color: #e3e3e3;*/
}
.tarjeta .pie-de-foto{
    line-height: 2em;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
    padding-top: 5px;
}
.tarjeta .pie-de-foto .tiempo{
    float: left;
}
.tarjeta .pie-de-foto .tiempo i{
    margin-right: 10px;
}
.tarjeta .pie-de-foto .categoria{
    float: right;
}
.tarjeta .pie-de-foto .categoria .fa{
    cursor: pointer;
}
.tarjeta .pie-de-foto .categoria i{
    margin-left: 10px;
}

/*PORTADA*/
#random{
    float:right;
    padding-left: 15px;
}
#random a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

#random a:hover{
    text-shadow: 2px 2px #0e9bac;
}
.frontpage .descripcion{    
    padding: 15px;
    border-top: 1px solid #a5a5a5;
    color: #0e9bac;
    text-align: justify;
}
.frontpage .descripcion:first-letter{
    font-size: 75px;
    float: left;
    line-height: 75px;
    padding: 0 10px;
}
.frontpage .ver-img img{
    cursor:pointer;
}
/*VER IMAGEN*/
.imagen-ver h3{
    font-size: 200%;
    font-variant: small-caps;
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
}
.imagen-ver .descripcion{
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.imagen-ver .descripcion dt{
    border-top: 1px solid #a5a5a5;
}
.imagen-ver .descripcion dd{
    color: #0e9bac;
}
/*MENU LATERAL*/
.sidenav{
    background-color: #1f282d;
    left:0;
    top:-15px;
    height: 105%;
    width: 15%;
    position: fixed!important;
    z-index: 1;
    overflow: hidden;
}
.sidenav img#titulo{
    width: 150px;
    height: auto;
    margin: 25px;
    font-size: 4em;
}
.sidenav ul{
    margin-top: 50px;
}
.sidenav ul li{
    list-style: none;
    color: #cccccc;
    font-family: 'Titillium Web', sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    border-left: 3px solid #0e9bac;
    padding-left: 15px;
    margin-bottom: 10px;

    background-position:right bottom;
    margin-left:10px;
}
.sidenav ul li:not(.active):hover{
    cursor: pointer;
    /* border-left: 3px solid #1f282d; */
    color:#1f282d;
    text-shadow: 1px 1px 1px #d5d5d5;
    background: linear-gradient(to left, #1f282d 50%, #0e9bac 130%);
    background-size: 200% 100%;
    -webkit-transition: background .45s ease-in-out, color .15s linear;
    -moz-transition: background .45s ease-in-out, color .15s linear;
    -ms-transition: background .45s ease-in-out, color .15s linear;
    -o-transition: background .45s ease-in-out, color .15s linear;
    transition: background .45s ease-in-out, color .15s linear;
    background-position:left bottom;
}

.sidenav ul li.active{  
    color:#ffffff;
}
.sidenav ul a{
    color:white;
    text-decoration: none;
}
/*CONTENIDO*/

#contenido{
    margin-left: 15%;
    padding-left: 15px;
    padding-bottom: 50px;
}
#container-portada{
    /*margin-left: 15%;*/
    margin-top: -25px;
}
#container-portada img{
    /* width: 350px;
    height: auto; */
}
#container-portada .row {
    /*border-bottom: 1px solid #e3e3e3;*/
}

#container-portada .row:last-child {
    /*border-bottom: none;*/
}

#nav-mobile{
    display: none;
}
#nav-mobile h1{
    border-bottom: 1px solid #d5d5d5;
    background-color: #d5d5d5;
    padding: 12px;
    padding-bottom: 5px;
    margin: 0 -10px 5px;
}
.paginacion{
    /*border-top: 1px solid #d5d5d5;*/
    padding: 15px 0;
    text-align: center;       
}
.paginacion ul{
    display: inline;
    padding-left: 0;
}
.paginacion ul li,
.paginacion input{
    display: inline-block;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 5px;
    color: #d5d5d5;
    min-width: 36px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}
.paginacion input{
    margin-left: 15px;
}
.paginacion ul li.numero.activa{
    font-weight: bold!important;
    color: #ffffff;
    background-color: #0e9bac;
    cursor:not-allowed!important;
}
.paginacion ul li.pagina{
    color: #000000;
    padding: 5px 20px;
}
.paginacion ul li.disabled{
    cursor:not-allowed;
    color:#efefef;
}
.paginacion ul a{
    text-decoration: none;
    color: #a3a3a3;
}
.paginacion ul li.numero:not(.activa){
    cursor: pointer;
}
.paginacion ul li.numero.activa,
.paginacion ul li.numero.disabled,
.paginacion ul li.numero-de-paginas{
    cursor: default;
}
.paginacion ul li.numero:not(.activa):hover,
.paginacion ul li.numero:not(.disabled):hover{
    color: #a5a5a5;
    background-color: #050505;
    transition-duration: .5s;
}
hr{
    border: 1px solid #d5d5d5;
}
.hamburger-menu{
    float: right;
}
.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #b5b5b5;
    border-bottom: 0.2em solid #b5b5b5;
    cursor:pointer;
}
.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #b5b5b5;
}
.hamburger-text{
    color: #d5d5d5;
    font-size: 1.7em;
    padding-left: 10px;
}
#menu-mobile{
    list-style: none;
    margin: -10px;
    /*display: none;*/
    width: 100%;
    background-color: #d5d5d5;
}
#menu-mobile li{
    padding-top: 15px;
    line-height: 1em;
    border-bottom: 1px solid #e5e5e5;
}
.logo-horizontal{
    border-bottom: 1px solid #d5d5d5;
    background-color: #e5e5e5;
}
.logo-horizontal h1{
    padding: 10px;
    height: 100px;
    line-height: 100px;
    text-align: right;
    margin-right: 5%;
}
.fa-info-circle{
    font-size: 2em;
    color: #0e9bac;
}

#footer{
    border-top: 1px solid #d5d5d5;
    text-align: right;
    padding-right: 15px;
    border-top: 1px solid lightblue;
    font-family: cursive;
    font-style: oblique;
    /*font-size: 1.2em;*/
}
#info{
    text-align: center;
    background-color: lightskyblue;
    padding: 15px;


    border-top: 5px solid black;
    overflow-y: scroll;
    word-break: keep-all;
    z-index: 999;
    width: 100%;
    position: fixed;
    bottom: 0;
    /*height: 55px;*/
    /* padding: 5px 0; */
}

.col-izq{
    border-right: 1px solid #e3e3e3;
}
.col-der{
    padding: 0 15px;
    /*border-left: 1px solid #e3e3e3;*/    
}

/*FORMULARIOS*/
label{
    font-weight: bold;
}
label::first-letter{
    text-transform: capitalize;
}
input:not(.numero-de-paginas), select, textarea, button{
    color: #000000;
    padding: 5px;
    border-radius: 6px;
    border-style: solid;
    border-color: #e3e3e3;
    width: 90%;
}
input:not(.numero-de-paginas), select, textarea{
    background-color: white;
}
.random-button{
    text-align: center;
    margin: 15px 0;
}

/*MENSAJES Y ERRORES*/
.closebtn{
    float:right;
    color: #e3e3e3;
    cursor:pointer;
}
.closebtn:hover{
    color: #ffffff;
}
#mensaje{
    width: 50%;
    margin: auto;
    margin-top:10px;
    padding: 5px;

    text-align: center;
    font-size: 150%;

    border-radius: 5px;
/*    border-width: 1px;
    border-style: solid;*/
    box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}
#mensaje h3{
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
}
#mensaje p{
    margin:5px;
    color: #ffffff;
}
.mensaje {
    background-color: cadetblue;

    color:darkgreen;

    border-color: cadetblue;
}
.mensaje h3{
    color:darkgreen;
}
.mensaje p{
    /*color: #ffffff;*/
}
.error{
    background-color: blanchedalmond;

    color: red;

    border-color: red;
}
.error h3{
    color: red;
    border-bottom-color: red!important;
}
.error p{
    color: red!important;
    /*color: #ffffff;*/
}

/*TABLAS*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
table, th, td {
    border: none;
}
.table-all {
    border: 1px solid #ccc;
}
.bordered tr, .table-all tr {
    border-bottom: 1px solid #ddd;
}
.striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
.table-all tr:nth-child(odd) {
    background-color: #fff;
}
.table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}
.hoverable tbody tr:hover, .ul.hoverable li:hover {
    background-color: #ccc;
}
.centered tr th, .centered tr td {
    text-align: center;
}
.table td, .table th, .table-all td, .table-all th {
    padding: 6px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.table th:first-child, .table td:first-child, .table-all th:first-child, .table-all td:first-child {
    padding-left: 16px;
}
.table td a{
    text-decoration: none;
}

.text-red{
    color:red;
}
.text-primary{
    color: #0e9bac;
}

/*LOGIN*/
#login-box{
    border: 1px solid white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 17px rgba(0,0,0,.5);
}
#login-box .label{
    text-align: right!important;
    padding-right: 15px;
    line-height: 29px;
}
#login-box input[type="submit"]{
    /*width: 100%;*/
    font-size: 115%;
}