@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (min-width: 481px){ /*Movil*/
    #container-portada{
        margin:0!important;
    }
    .hide-mobile{
        display: none!important;
    }
    #mensaje{
        width: 95%;
        font-size: 100%;
    }
    .paginacion{
        text-align:left;
    }
}
@media (min-width: 641px)  { /*Tablet*/
    .hide-tablet{
        display: none!important;
    }
    .col-tabl-6{width: 98.7%;}
    .col-tabl-5{width: 82.5%;}
    .col-tabl-4{width: 65.5%;}
    .col-tabl-3{width: 48.9%;}
    .col-tabl-2{width: 32.26%;}
    .col-tabl-1{width: 15.33%;}
    div[class^="col-tabl"]{
        /*background-color: red!important;*/
    }
}
@media (min-width: 961px)  { /*PC*/
    .col-desk-6{width: 98.7%;}
    .col-desk-5{width: 82.5%;}
    .col-desk-4{width: 65.5%;}
    .col-desk-3{width: 48.9%;}
    .col-desk-2{width: 32.26%;}
    .col-desk-1{width: 15.33%;}
    div[class^="col-desk"]{
        /*background-color: green!important;*/
        /*background-color: white;*/
    }
}
@media (max-width: 640px){
    div[class^="col"]{
        width: 98.7%;
    }
}

@media (max-width: 961px)  {
    .sidenav{
        display: none;
        width: 5%;
        background-color: #ff0000;
    }
    #nav-mobile{
        display: block;
        /*background-color: #d5d5d5;*/
    }
    #container-portada{
        margin: 10%;    
    }
    #contenido{
        margin-left: 0;
    }
    .logo-horizontal{
        display: none;
    }
    .tarjeta .titulo{
        font-size: 1.2em;
    }
    #ver-img{
        font-size: 100%;
    }
    .col-izq{
        border-right: none;
    }
    .col-der{
        padding: 0;
        /*border-left: 1px solid #e3e3e3;*/    
    }
}